div.box-navy{
	border-top-color: #001F3F;
}
div.box-teal{
	border-top-color: #39CCCC;
}
div.box-purple{
	border-top-color: #605ca8;
}
div.box-orange{
	border-top-color: #ff851b;
}
div.box-maroon{
	border-top-color: #D81B60;
}
div.box-black{
	border-top-color: #111111;
}