div.loaderWrapper{
	position: relative;
	width: 100vw;
	height: 100vh;
	z-index: 9999999;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,0.5);
}
div.loader {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  z-index: 9999999;
}
div.loader div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
div.loader div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #605ca8;
  margin: -3px 0 0 -3px;
}
div.loader div:nth-child(1) {
  animation-delay: -0.036s;
}
div.loader div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
div.loader div:nth-child(2) {
  animation-delay: -0.072s;
}
div.loader div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
div.loader div:nth-child(3) {
  animation-delay: -0.108s;
}
div.loader div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
div.loader div:nth-child(4) {
  animation-delay: -0.144s;
}
div.loader div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
div.loader div:nth-child(5) {
  animation-delay: -0.18s;
}
div.loader div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
div.loader div:nth-child(6) {
  animation-delay: -0.216s;
}
div.loader div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
div.loader div:nth-child(7) {
  animation-delay: -0.252s;
}
div.loader div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
div.loader div:nth-child(8) {
  animation-delay: -0.288s;
}
div.loader div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

div.miniLoader{
	padding: 0;
}

div.miniLoader > .sk-cube-grid {
  width: 35px;
  height: 35px;
  float: right;
}

div.miniLoader > .sk-cube-grid > .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #605ca8;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
div.miniLoader > .sk-cube-grid > .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
div.miniLoader > .sk-cube-grid > .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
div.miniLoader > .sk-cube-grid > .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
div.miniLoader > .sk-cube-grid > .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
div.miniLoader > .sk-cube-grid > .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
div.miniLoader > .sk-cube-grid > .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
div.miniLoader > .sk-cube-grid > .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
div.miniLoader > .sk-cube-grid > .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
div.miniLoader > .sk-cube-grid > .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}