* {
	font-family: "Times New Roman", Times, serif;
}

table {
	width: 100%;
}

table td, table th {
	vertical-align: middle;
}

table td:nth-child(1), table th:nth-child(1) {
	text-align: left;
}
table td:nth-child(2), table th:nth-child(2) {
	text-align: center;
}
table td:nth-child(3), table th:nth-child(3) {
	text-align: right;
}